body{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.card{
  display: flex;
  justify-content: center;
  align-items: centre;
  height: 100%;
  padding:100px;


}
h2{
  margin:0 20px;
  font-size: 50px;
}
button{
    border-style: none;
    position:relative;
    /* bottom:145px;
    left:150px; */
    


}
button:hover{
  background: blue;
}
